{% extends "base.html" %} 
{% load static %} 
{% block title %}Profile{% endblock %} 
{% block content %}

<div class="profile-body">
  <div class="profile-container">
    <div class="profile-header">
      <div>
        <h2 class="profileh2">My Profile</h2>
        <p class="profile-manage-info">Manage your personal information</p>
      </div>
      <a href="{% url 'edit_profile' %}" class="profile-edit-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M19.7 4.3c-.4-.4-1-.4-1.4 0l-12 12c-.2.2-.3.4-.3.7v3h3c.3 0 .5-.1.7-.3l12-12c.4-.4.4-1 0-1.4l-2.3-2.3zm-11 15h-1.7v-1.7l10-10 1.7 1.7-10 10z"
          />
        </svg>
        Edit Profile
      </a>
    </div>

    <div class="profile-avatar">
      {% if profile.profile_picture %}
      <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" />
      {% else %} {{ user.username|slice:":2"|upper }} {% endif %}
    </div>

    <div class="profile-name">{{ user.first_name }} {{ user.last_name }}</div>
    <div class="profile-username">@{{ user.username }}</div>

    <div class="profile-details">
      <div class="profile-input-group">
        <label class="profile-input-label">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
            />
          </svg>
          Username
        </label>
        <input
          type="text"
          class="profile-input-field"
          value="{{ user.username }}"
          readonly
        />
      </div>

      <div class="profile-input-row">
        <div class="profile-input-group">
          <label class="profile-input-label">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
              />
            </svg>
            First Name
          </label>
          <input
            type="text"
            class="profile-input-field"
            value="{{ user.first_name }}"
            readonly
          />
        </div>
        <div class="profile-input-group">
          <label class="profile-input-label">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
              />
            </svg>
            Last Name
          </label>
          <input
            type="text"
            class="profile-input-field"
            value="{{ user.last_name }}"
            readonly
          />
        </div>
      </div>

      <div class="profile-input-group">
        <label class="profile-input-label">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
            />
          </svg>
          Email Address
        </label>
        <input
          type="email"
          class="profile-input-field"
          value="{{ user.email }}"
          readonly
        />
      </div>
    </div>
  </div>
</div>

{% endblock %}
